@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */
@keyframes notif-in {
  from { transform: translateY(-8px) scale(.95); opacity: 0; }
  to { transform: translateY(0) scale(1); opacity: 1; }
}
@keyframes notif-out {
  from { transform: translateY(0) scale(1); opacity: 1; }
  to { transform: translateY(-8px) scale(.95); opacity: 0; }
}